.puzzle_content {
    /* animation: show 500ms forwards;
    animation-delay: calc(var(--index) * 150ms);
   
    opacity: 1; */
    animation: show 450ms;
}

@keyframes show {
    from {
        opacity: 0;
        /* background-color: transparent;
        transform: rotateX(0deg) */
    } 
    to {
        opacity: 1;
        /* background-color: var(--piece-background);
        transform: rotateX(-180deg) */
    }
}